# Gitignore for libmotionctl

# VSCode
.vscode/

# Build output.
[oO]ut/
[bB]uild/

# CMake generated output
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps